.app{
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position:relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.app Button{
  position: relative;
  width:30%;
  margin-bottom: 2%;
}